Repository salemove/ios-sdk-widgets, pull requests merged in 2025-09, with the labels that each got.

#1369 Scroll to input field when it becomes active
  GliaWidgets/Sources/Extensions/UIView+Extensions.swift
  GliaWidgets/Sources/ViewController/Survey/SurveyViewController.swift
Labels: Change: Internal, Change: UI/UX

#1379 Convert secure conversations send message payload interface to async
  GliaWidgets/SecureConversations/ChatTranscript/SecureConversations.TranscriptModel.GVA.swift
  GliaWidgets/SecureConversations/ChatTranscript/SecureConversations.TranscriptModel.swift
  GliaWidgets/SecureConversations/SecureConversations.SendMessageButton.swift
  GliaWidgets/SecureConversations/Welcome/SecureConversations.WelcomeView.swift
  GliaWidgets/SecureConversations/Welcome/SecureConversations.WelcomeViewModel.swift
  GliaWidgets/Sources/CoreSDKClient/CoreSDKClient.Interface.swift
  GliaWidgets/Sources/CoreSDKClient/CoreSDKClient.Live.swift
  GliaWidgets/Sources/CoreSDKClient/CoreSDKClient.Mock.swift
  GliaWidgets/Sources/ViewModel/Chat/ChatViewModel.swift
  GliaWidgetsTests/SecureConversations/ChatTranscript/TranscriptModelTests+GVA.swift
  GliaWidgetsTests/SecureConversations/ChatTranscript/TranscriptModelTests+MessageRetry.swift
  GliaWidgetsTests/SecureConversations/ChatTranscript/TranscriptModelTests.swift
  GliaWidgetsTests/SecureConversations/Welcome/SecureConversations.WelcomeViewModelSpec.swift
  GliaWidgetsTests/Sources/CoreSdkClient/CoreSDKClient.Failing.swift
Labels: Change: Tests, Change: Internal

#1381 Convert download file interfaces to async
  GliaWidgets.xcodeproj/project.pbxproj
  GliaWidgets/SecureConversations/ChatTranscript/SecureConversations.TranscriptModel.Environment.swift
  GliaWidgets/SecureConversations/ChatTranscript/SecureConversations.TranscriptModel.swift
  GliaWidgets/Sources/Coordinators/EngagementCoordinator/EngagementCoordinator.Environment.Mock.swift
  GliaWidgets/Sources/CoreSDKClient/CoreSDKClient.Interface.swift
  GliaWidgets/Sources/CoreSDKClient/CoreSDKClient.Live.swift
  GliaWidgets/Sources/CoreSDKClient/CoreSDKClient.Mock.swift
  GliaWidgets/Sources/Download/EngagementFileData+Extension.swift
  GliaWidgets/Sources/Download/FileDownload.Environment.Interface.swift
  GliaWidgets/Sources/Download/FileDownload.Environment.Mock.swift
  GliaWidgets/Sources/Download/FileDownload.swift
  GliaWidgets/Sources/Download/FileDownloader.swift
  GliaWidgets/Sources/View/Chat/ChatView.swift
  GliaWidgets/Sources/View/Chat/Message/ChatMessageView.swift
  GliaWidgets/Sources/View/Chat/Message/Content/File/ChatFileContentView.swift
  GliaWidgets/Sources/View/Chat/Message/Content/File/Download/ChatFileDownloadContentView.swift
  GliaWidgets/Sources/View/Chat/Message/Content/File/Image/ChatImageFileContentView.swift
  GliaWidgets/Sources/ViewController/Chat/ChatViewController.swift
  GliaWidgets/Sources/ViewModel/Chat/ChatViewModel+ViewModel.swift
  GliaWidgets/Sources/ViewModel/Chat/ChatViewModel.Environment.Mock.swift
  GliaWidgets/Sources/ViewModel/Chat/ChatViewModel.swift
  GliaWidgetsTests/Coordinator/RootCoordinator.Environment.Failing.swift
  GliaWidgetsTests/Lib/Download/FileDownload.Environment.Failing.swift
  GliaWidgetsTests/SecureConversations/ChatTranscript/TranscriptModel.Environment.Failing.swift
  GliaWidgetsTests/SecureConversations/Coordinator/SecureConversations.Coordinator.Environment.Mock.swift
  GliaWidgetsTests/Sources/ChatViewModel/ChatViewModelTests.swift
  GliaWidgetsTests/Sources/Coordinators/Call/CallCoordinator.Environment.Mock.swift
  GliaWidgetsTests/Sources/Coordinators/Chat/ChatCoordinator.Environment.Mock.swift
  GliaWidgetsTests/Sources/CoreSdkClient/CoreSDKClient.Failing.swift
  GliaWidgetsTests/Sources/FileDownloadTests.swift
  GliaWidgetsTests/ViewModel/Chat/ChatViewModel.Environment.Failing.swift
Labels: Change: Tests, Change: Internal

#1389 Add Entry Widget telemetry logging
  GliaWidgets/Sources/EntryWidget/EntryWidget.swift
  GliaWidgets/Sources/OpenTelemetry/OpenTelemetry.swift
Labels: Change: Internal
